<h1>New post</h1>

<% form_for @post, :html => { :multipart => true } do |f| %>
	<%= render :partial => "form", :object => f %>
  
  <%= f.label :photo %>
  <%= f.file_field :photo %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
  <p>
    Author:<br />
    <%= current_user.login %>
    <%= image_tag current_user.photo.url %>
  </p>
<%= link_to 'Back', posts_path %>
